---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Heading from "../components/Heading.vue";
import NavLink from "../components/NavLink.vue";
---

<DefaultLayout>
  <Heading>Musiker</Heading>

  <p class="text-justify mb-4">
    Hier finden Sie die aktuelle Besetzung der <strong>Blue Bird Big Band</strong>. Die <strong
      >Blue Bird Big Band</strong
    > probt immer mittwochs von 20:15 bis 22:00 Uhr. Aber nur außerhalb der
    <NavLink href="https://www.schulferien.org/Rheinland-Pfalz/rheinland-pfalz.html"
      >Schulferien in Rheinland-Pfalz
    </NavLink>
    . Unsere <strong>Dometown-Band</strong> probt immer davor. Also mittwochs von 18:00 bis 20:00 Uhr. Unter
    <NavLink href="/anfahrt">Anfahrt</NavLink>
    finden Sie noch einmal die Zeiten und die genaue Adresse, um zu unseren Proben zu finden.
  </p>

  <div>
    <!--  Fetch data from backend. -->
  </div>
</DefaultLayout>
