---
import Heading from "../components/Heading.vue";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import NewsletterSubscribe from "../components/NewsletterSubscribe.vue";
import NewsletterUnsubscribe from "../components/NewsletterUnsubscribe.vue";
---

<DefaultLayout>
  <Heading> Newsletter</Heading>

  <div>
    Hier können Sie sich für unseren Konzert-Newsletter eintragen bzw.
    austragen.
  </div>

  <div
    class="mt-8 flex gap-y-12 flex-col mx-auto max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl"
  >
    <section>
      <!--<NewsletterSubscribe title="Eintragen" />-->
    </section>

    <hr />

    <section>
      <!--<NewsletterUnsubscribe />-->
    </section>
  </div>
</DefaultLayout>
